Repository OTORI-One/OTORI-Vision-Testnet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OTORI-One/developers, @OTORI-One/frontend-team, @OTORI-One/rust-team, @OTORI-One/tech-writers, @OTORI-One/security-team

.github/CODEOWNERS:

# Global owners
* @OTORI-One/developers

# Frontend specific files
/ovt-fund/ @OTORI-One/frontend-team

# Rust program files
/ovt-program/ @OTORI-One/rust-team

# Documentation
/docs/ @OTORI-One/tech-writers @OTORI-One/developers

# Security-sensitive files
.github/workflows/ @OTORI-One/security-team
**/security.yml @OTORI-One/security-team
**/auth*.ts @OTORI-One/security-team
**/wallet*.ts @OTORI-One/security-team

# Dependencies
package.json @OTORI-One/developers
package-lock.json @OTORI-One/developers
Cargo.toml @OTORI-One/developers
Cargo.lock @OTORI-One/developers

feat: improve NAV validation and test infrastructure
  .cursor/rules/otori-rules.mdc
  .gitignore
Owners: @OTORI-One/developers

chore: remove sensitive files from git tracking
  .arch_data/testnet/ledger/CURRENT
  .arch_data/testnet/ledger/IDENTITY
  .arch_data/testnet/ledger/LOCK
  .arch_data/testnet/ledger/LOG
  .arch_data/testnet/ledger/MANIFEST-000005
  .arch_data/testnet/ledger/OPTIONS-000007
  .arch_data/testnet/secret_key
  .cursorignore
  .env.local
  .gitignore
Owners: @OTORI-One/developers

removed "token" from title
  README.md
Owners: @OTORI-One/developers

clean up
  ovt-fund/.env.local
  scripts/start-local-env.sh
Owners: @OTORI-One/frontend-team, @OTORI-One/developers

fix(useOVTClient): Fix NAV calculation and currency formatting
  ovt-fund/src/hooks/__tests__/useOVTClient.test.tsx
  ovt-fund/src/hooks/useOVTClient.ts
Owners: @OTORI-One/frontend-team

fix(wallet): set LaserEyes provider to use testnet by default
  ovt-fund/pages/_app.tsx
Owners: @OTORI-One/frontend-team

Document wallet connection status and freeze current state
  ovt-fund/.next/cache/webpack/client-development/11.pack.gz
  ovt-fund/.next/cache/webpack/client-development/12.pack.gz
  ovt-fund/.next/cache/webpack/client-development/13.pack.gz
  ovt-fund/.next/cache/webpack/client-development/2.pack.gz
  ovt-fund/.next/cache/webpack/client-development/3.pack.gz
  ovt-fund/.next/cache/webpack/client-development/4.pack.gz
  ovt-fund/.next/cache/webpack/client-development/5.pack.gz
  ovt-fund/.next/cache/webpack/client-development/6.pack.gz
  ovt-fund/.next/cache/webpack/client-development/8.pack.gz
  ovt-fund/.next/cache/webpack/client-development/9.pack.gz
  ovt-fund/.next/cache/webpack/client-development/index.pack.gz
  ovt-fund/.next/cache/webpack/client-development/index.pack.gz.old
  ovt-fund/.next/cache/webpack/server-development/0.pack.gz
  ovt-fund/.next/cache/webpack/server-development/1.pack.gz
  ovt-fund/.next/cache/webpack/server-development/10.pack.gz
  ovt-fund/.next/cache/webpack/server-development/11.pack.gz
  ovt-fund/.next/cache/webpack/server-development/12.pack.gz
  ovt-fund/.next/cache/webpack/server-development/13.pack.gz
  ovt-fund/.next/cache/webpack/server-development/2.pack.gz
  ovt-fund/.next/cache/webpack/server-development/3.pack.gz
  ovt-fund/.next/cache/webpack/server-development/4.pack.gz
  ovt-fund/.next/cache/webpack/server-development/5.pack.gz
  ovt-fund/.next/cache/webpack/server-development/6.pack.gz
  ovt-fund/.next/cache/webpack/server-development/7.pack.gz
  ovt-fund/.next/cache/webpack/server-development/8.pack.gz
  ovt-fund/.next/cache/webpack/server-development/9.pack.gz
  ovt-fund/.next/cache/webpack/server-development/index.pack.gz
  ovt-fund/.next/cache/webpack/server-development/index.pack.gz.old
  ovt-fund/.next/server/pages/_app.js
  ovt-fund/.next/server/pages/_error.js
  ovt-fund/.next/server/pages/index.js
  ovt-fund/.next/static/chunks/webpack.js
  ovt-fund/.next/trace
  ovt-fund/components/NAVVisualization.tsx
  ovt-fund/components/WalletConnector.tsx
  ovt-fund/package.json
  ovt-fund/pages/_app.tsx
  ovt-fund/src/utils/adminUtils.ts
  program/src/runes_client.rs
Owners: @OTORI-One/frontend-team, @OTORI-One/developers

fix: consistent currency formatting in NAV visualization
  ovt-fund/components/NAVVisualization.tsx
Owners: @OTORI-One/frontend-team

feat: enhance token formatting and mock SDK improvements
  ovt-fund/.next/cache/webpack/client-development/2.pack.gz
  ovt-fund/.next/cache/webpack/client-development/3.pack.gz
  ovt-fund/.next/cache/webpack/client-development/4.pack.gz
  ovt-fund/.next/cache/webpack/client-development/5.pack.gz
  ovt-fund/.next/cache/webpack/client-development/index.pack.gz
  ovt-fund/.next/cache/webpack/client-development/index.pack.gz.old
  ovt-fund/.next/cache/webpack/server-development/0.pack.gz
  ovt-fund/.next/cache/webpack/server-development/1.pack.gz
  ovt-fund/.next/cache/webpack/server-development/2.pack.gz
  ovt-fund/.next/cache/webpack/server-development/3.pack.gz
  ovt-fund/.next/cache/webpack/server-development/index.pack.gz
  ovt-fund/.next/cache/webpack/server-development/index.pack.gz.old
  ovt-fund/.next/server/pages/index.js
  ovt-fund/.next/static/chunks/webpack.js
  ovt-fund/components/NAVVisualization.tsx
  ovt-fund/components/TokenExplorerModal.tsx
  ovt-fund/components/__tests__/NAVVisualization.test.tsx
  ovt-fund/components/__tests__/PositionManagement.test.tsx
  ovt-fund/components/__tests__/TokenExplorerModal.test.tsx
  ovt-fund/components/admin/PositionManagement.tsx
  ovt-fund/jest.setup.js
  ovt-fund/package-lock.json
  ovt-fund/pages/index.tsx
Owners: @OTORI-One/frontend-team, @OTORI-One/developers

test: Complete test suite implementation for MultiSigApproval and TransactionHistory components, update mock SDK and OTORI rules
  .cursor/rules/otori-rules.mdc
  ovt-fund/components/__tests__/MultiSigApproval.test.tsx
  ovt-fund/components/__tests__/TransactionHistory.test.tsx
  program/src/mock_sdk.rs
Owners: @OTORI-One/developers, @OTORI-One/frontend-team

fix: Resolve Bitcoin RPC test issues and improve mock SDK implementation
  program/src/runes_client.rs
  program/tests/local.rs
  program/tests/mock_sdk/mock_sdk.rs
  program/tests/test_multisig.rs
Owners: @OTORI-One/developers

feat(utxo): Implement UTXO tracking system with chain reorg handling
  program/Cargo.toml
  program/examples/utxo_tracking_example.rs
  program/src/bitcoin_rpc.rs
  program/src/bitcoin_rpc_mock.rs
  program/src/bitcoin_rpc_test.rs
  program/src/client.rs
  program/src/error.rs
  program/src/instructions.rs
  program/src/lib.rs
  program/src/mock_sdk.rs
  program/src/state.rs
  program/src/system.rs
  program/src/types.rs
  program/src/utils.rs
  program/src/utxo.rs
  program/tests/local.rs
  program/tests/mock_sdk/mock_sdk.rs
  program/tests/test_multisig.rs
  program/tests/utxo_tracking.rs
Owners: @OTORI-One/developers

fix: update test suite to use Arc<RefCell> for thread-safe account data handling feat: integrate network status and enhance test infrastructure
  program/tests/local.rs
  program/tests/mock_sdk/mock_sdk.rs
Owners: @OTORI-One/developers

added yaml for tg notify bot
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

TG notify bot for deployment
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

Cleaned up TG notification
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

changing to markdown v2 to display bold font in TG
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

clean TG notify format
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

Update TG notify format
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

Update tG notify format
  .github/workflows/telegram-notify.yml
Owners: @OTORI-One/security-team

Deploy OTORI Vision Token to Bitcoin Testnet
  .gitignore
  DEPLOYMENT_SUMMARY.md
  deploy_and_configure.sh
  ovt-fund/src/mock-data/portfolio-positions.json
  ovt-fund/src/mock-data/token-data.json
  program/Cargo.toml
  program/arch-config.json
  program/src/arch_program.rs
  program/src/bitcoin/cache.rs
  program/src/bitcoin/mock.rs
  program/src/bitcoin/mod.rs
  program/src/bitcoin/rpc.rs
  program/src/bitcoin/rpc_test.rs
  program/src/bitcoin/utxo_tracker.rs
  program/src/bitcoin_rpc.rs
  program/src/bitcoin_rpc_mock.rs
  program/src/bitcoin_rpc_test.rs
  program/src/lib.rs
  program/src/state.rs
  program/src/utils.rs
Owners: @OTORI-One/developers, @OTORI-One/frontend-team

Fix OVT price calculation and transaction history display. Add Rune minting with MultiSig support.
  ovt-fund/components/admin/AdminDashboard.tsx
  ovt-fund/components/admin/RuneMinting.tsx
  ovt-fund/components/admin/TransactionHistory.tsx
  ovt-fund/pages/api/mint-rune.ts
  ovt-fund/pages/index.tsx
  ovt-fund/src/hooks/useOVTClient.ts
  ovt-fund/src/lib/hybridModeUtils.ts
  scripts/etch-ovt-rune.js
  scripts/mint-ovt-rune.js
Owners: @OTORI-One/frontend-team, @OTORI-One/developers
